@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,800&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

:root{
--color-dark: #2E2F42;
--color-grey: #434455;
--color-blue: #4D5AE5;
--color-white: #ffffff;
--color-blue-2: #404bbf;
--color-lightblue: #F4F4FD;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--color-white);

}
.link {
    text-decoration: none;
}
.list{
    list-style: none;
}
.top-line{
    /* height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center; */
}
.logo {
    color: var(--color-dark);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-blue);
}
.logo .dark-text{
    color: var(--color-dark);
}
.menu .menu-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-dark);
}
.menu .menu-item:hover, .menu .menu-item:focus{
color: var(--color-blue-2);
}
.address{
    font-style: normal;
}
.address .list-item{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}
.address .list-item:hover, .address .list-item:focus{
    color: var(--color-blue-2);
}
.hero{
    background-color: var(--color-dark);
}
.hero .hero-text{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
}
.btn{
    background-color: var(--color-blue);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    color: var(--color-white);
}
.btn:hover, .btn:focus{
    background-color: var(--color-blue-2);
    cursor: pointer;
}

.feature-item .feature-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-dark);
    letter-spacing: 0.02em;
}
.heading-job{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-dark);
}
.team{
    background-color: var(--color-lightblue);
}
.heading-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-dark);
}
.team .team-item{
    background-color: var(--color-white);
}
.team .team-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-dark);
    letter-spacing: 0.02em;
}
.team .team-item .team-item-text{
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}
.footer{
    background-color: var(--color-dark);
}
.footer .white-text{
    color: #f4f4fd;
}